<!-- Begin footer partial -->
<div class="row-footer">
    <p>Got a question? Please <a href="#">email us</a>!</p>
</div>
<!-- This is the end of the div.box we opened in the header -->
</div>
</body>

</html>