<!-- Begin footer partial -->
<div class="row-footer">
    <p class="left-align">Got a question? Please <a href="#">email us</a>!</p>
    <p class="right-align">&copy Wildcamping 2019</p>
</div>
<!-- This is the end of the div.box we opened in the header -->
</div>
</body>

</html>